/*CSS reset settings here*/
*{
 margin: 0px;
 padding: 0px;
}

.container{
  display: inline-grid;
  grid-template-columns:50px repeat(18,50px); 
  grid-template-rows: 45px;
  align-items: center;
  justify-items:center;
  grid-column-gap:1px;
  margin:10px;

}

.item{
  width: 30px;
  height: 40px;
  font-family: arial;
  font-size: 10px;
  text-align: center;
  border: 1px ridge gray;
  justify-items:center;
  padding: 10px;
}

.celeste{

  background-color:#7DB1E5;
}
.pink{
  background-color: pink;
}
.yellow{
  background-color: yellow;
}
.green{
  background-color: green;
}

.marco{ color:red;}

.espacio1{ 
  grid-column:3/19;
  border:none;
}
.espacio2{
  grid-column:4/14;
  border:none;
}

.junto1{
  grid-column:1/4;
  color:red;
  background-color: white;
  border:none;
  justify-items:center;
}

.espacio{
  grid-column:18/20;
  border:none;  
}
.colum-4{
  grid-column-gap:10px;
}

b{
	font-size: 18px;
  text-align: left;
}