/*CSS reset settings here*/
*{
 margin: 0px;
 padding: 0px;
}
.azulGrande {
	width: 970px;
	height: 830px;
	background-color: #144E73;
}
.im{
	display: inline-block;
}
.lado{
	display: inline-block;
	width: 300px;
	vertical-align: top;
}

#img1{
	width: 450px;
	margin-left: 20px;
}
.text{
	color: white;
	margin-left: 200px;
	width: 180px;
	height: 30px;
}

.text a{
	color:orange;
}
.box button{
	border-radius: 5px;
	background-color: blue;
	margin-top: 15px;
	padding: 5px;
}
.box input{
	margin-left: 20px;
	height: 30px;
	text-align: center;
}

.box{
	width: 250px;
	height: 60px;
	background-color: #49494A;
	display: inline-block;
	margin-left: 160px;
	margin-bottom: 20px;
	border-radius: 12px;
}

.botones ul{
	background-color: #4E7DA6;
	width: 740px;
	border-radius: 12px;
}

.botones{
	 margin-left: 100px;
	margin-right: 60px;
}


.botones button{
	width: 120px;
	height: 45px;
	color:white;
	background-color: #4E7DA6;
	border:none;
	font-size: 18px;
	border-radius: 12px;
}

.botones li{
	display: inline-block;
	width: 120px;
	height: 45px;
}

.enlace{
	margin-top: 20px;
	margin-left: 100px;
	display: inline-block;
	vertical-align: top;
}

.enlace ul {
 min-height: auto;
 width: 220px;
 background-color: transparent;
 text-align: center;
 list-style: none;
 font-size: 16px;
 line-height: 1.5;
}

.enlace span{
	color:orange;
	font-size:8px;
	margin-bottom: 100px;
}

.enlace a{
	color: white;
}
.parrafo{
	display: inline-block;
	width: 450px;
	margin-left: 50px;
	text-align: center;
	margin-top: 10px;
}

.parrafo p{
	color: white;
	font-size: 13px;
}

.parrafo ul{
	background-color: transparent;
	color: orange;
	list-style: none;
	margin-top: 10px;
	line-height: 1,5;
	font-size: 20px;
}
.parrafo span{
	color:white;
}


hr{
	background-color:#4E7DA6;
	width: 330px;
	height: 3px;
	margin: 5px;
}
.medio{
	background-color:white;
	width: 970px;
	height: 270px;
	margin-top: 30px;
	font-size: 15px;
}

.muno{
	width: 300px;
	display: inline-block;
	background-color: white;
	margin-left: 150px;
	text-align: center;	
	margin-top: 20px;
	margin-right: 20px;
}

.mdos{
	width: 300px;
	display: inline-block;
	margin-left: 40px;
	vertical-align: top;
	margin-top: 20px;
	text-align: center;
}

.medio h3{
	width: 300px;
	padding: 10px;
}

.medio span{
	color:#4E7DA6;
	font-size: 13px;
}
.medio ul{
	list-style-type: square;
}

.ultimo{
	margin-top: 30px;
}
.ultimo li{
	color: #4E7DA6;
	display: inline-block;
	margin: 20px;
	text-align: center;
}
.ultimo ul{
	text-align: center;
	font-size: 18px;
}
.ultimo p{
	color:#4E7DA6;
	text-align: center; 
	font-size: 13px;
	margin-bottom: 10px;
}





